.sign-in-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.sing-in-page_form-section {
    height: 100vh;

    display: grid;
    justify-content: center;
    text-align: center;
}
